.sub-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  list-style: none;

  .item {
    padding: 12px;
  }
}

@media (max-width: 1024px) {
  .sub-menu {
    display: block;

    .item {
      padding: 12px 0 0;
    }
  }

}